<!-- FOOTER -->
<!-- <footer id="main-footer" class="bg-dark"> -->
<footer id="main-footer" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center py-4">
        <br><br><br><br><br><br>
        <h3>Limitless</h3>
        <br><br>
        <!-- <p style="color: white;">Copyright &copy; <span id="year"></span></p> -->
        <p>Copyright &copy; <span id="year"></span></p>
        <button class="btn btn-primary light-blue" data-toggle="modal" data-target="#contactModal">
          Contact Zaheda
        </button>

        <!-- SOCIAL MEDIA -->
        <div class="d-flex justify-content-center">
          <div class="p-4">
            <a href="https://instagram.com/limitless_life_coaching?igshid=1qhlgso5380vk">
              <!-- <fa-icon [icon]="faInstagram" style="color: white;"></fa-icon> -->
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>