  <!-- READ HEAD -->
  <section id="read-head-section" class="light-blue">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5 light">
          <h1 class="display-4 mt-2">Enriching reads</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- READ SECTION -->
  <section id="read-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/img/reads2.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
        </div>
        <div class="col-md-6">
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/self-esteem/art-20047976">Healthy
                Self-Love</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://upjourney.com/why-is-self-love-important">Why is Self Love Important</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://www.briantracy.com/blog/personal-success/fight-or-flight-overcoming-your-fears/">How To
                Overcome Your Fears</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://tinybuddha.com/blog/stop-limiting-yourself-feel-fully-alive/">How to stop limiting
                yourself</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://tinybuddha.com/blog/how-i-climbed-out-of-the-valley-of-loss-and-healed/">Loss and
                Healing</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a href="https://dariusforoux.com/full-potential/">Find your True Potential</a>
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faBook" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              <a
                href="https://www.healyourlife.com/?utm_source=LH.com&utm_medium=Footer&utm_content=Footer_HYL&utm_campaign=LH.com">Heal
                Your Life</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>