<!-- LIFE HEAD -->
<section id="life-head-section" class="light-blue">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4 mt-2">Life coaching</h1>
          <p class="lead">
            A series of strategies and techniques used to defeat hindrances
            and limiting negative beliefs. Life Coaching encourages successful
            goal setting by structuring a plan of action to reach each one and
            overcome difficulties. Through Life Coaching’s sustainable
            practices which take us out of challenging mindsets and
            limitations we have created for ourselves, we are empowered to
            flourish.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- LIFE SECTION -->
  <section id="life-section" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-1">
          <img src="../../../assets/img/life.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
        </div>
        <div class="col-md-6 order-2">
          <h3>Why do I need a Life Coach?</h3>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <!-- <i class="fas fa-star fa-2x"></i> -->
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              If you find your fears a challenge in your life.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <!-- <i class="fas fa-star fa-2x"></i> -->              
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              You find yourself in a rut which perpetuates negativity.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              A need to better yourself and who you are to others has arisen.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              Are you at a crossroads, in need of some direction for a
              positive change.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              You’d like to become more assertive, confident and self-assured.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              You feel overwhelmed, stressed and anxious.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              If you want to be better in all your relationships.
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              You have no time for self-care.
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
            <div class="p-4 align-self-end">
              Would you like to just live out your goals, reveal your true
              potential and live your best life!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
